.skill{
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(161, 161, 161);
    margin: 4px 4px ;
    overflow: hidden;
    .bodyski{
        display: flex;
        .imageSkill{
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 50px;
            min-width: 50px;
            max-width: 70px;
            object-fit: cover;

        }
        .vertDivider{
            width: 0.5px;
            background-color: rgb(161, 161, 161);
            height: 50px;
        }
        .nameSkill{
            width: 100%;
            text-align: start;
            line-height: 50px;
            padding: 0 8px 0 8px;
            text-overflow: ellipsis;
        }
    }
}