<div class="bodycomponent">
  <div class="projects">
    <div class="projectsarea">
      <div class="title">Projects</div>
      <div class="projectsuniques">
        <app-project *ngFor="let project of projects"
        [titleproject]="project.title"
        [imagesproject]="project.images"
        [descriptionproject]="project.description"
        [linkproject]="project.link"
        [logoproject]="project.logo"
        [showImage]="showImage">
        </app-project>
      </div>
    </div>
  </div>
</div>
<div class="showImageBig" (click)="showImage('123')" [style.display]="showBigImage ? 'block' : 'none'">
  <img [src]="bigI">
</div>