<div class="bodycomponent">
  <div class="projects">
    <div class="projectsarea">
      <div class="title">Projects</div>
      <div class="projectsuniques">
        <app-project *ngFor="let project of projects"
        [titleproject]="project.title"
        [imagesproject]="project.images"
        [descriptionproject]="project.description"
        [linkproject]="project.link"
        [logoproject]="project.logo"
        (showOverlayImage)="showImage($event)">
        </app-project>
      </div>
    </div>
  </div>
</div>
<div class="showImageBig"
    (click)="showImage('')" 
    [style.display]="showOverlay ? 'flex' : 'none'"
    >
  <img [src]="bigI">
</div>