 .project{
    float: left;
    width: 100%;
    overflow: hidden;
    margin: 5px 10px 10px 10px;
    .headerP{
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(235, 233, 233);
        margin-bottom: 5px;
        .logo{
            width: 40px;
            height: 40px;
            border-radius: 20px;
            border: 1px solid black;
        }
        .titlePublisher{
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            .title{
                
            }
            .author{
                font-size: 12px;
                color: rgb(92, 92, 92);
            }
        }
        
    }
    .bodyproject{
        display: flex;
        .imagesArea{
            overflow: hidden;
            width: 45%;
            object-fit: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .imageshowview{
                border: 0.3px solid rgb(223, 223, 223);
                background-color: rgb(231, 230, 230);
                height: 380px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    max-width: 380px;
                    height: auto;
                }
            }
            .imagesNavigator{
                margin-top: 5px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 15px;
                .arrowButton{
                    width: 85px;
                    height: 40px;
                    border-radius: 5px;
                    background-color: white;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    border: 1px solid black;
                }
                .arrows{
                    width: 25px;
                    height: auto;
                }
                .arrownext{
                    transform: rotate(180deg);
                }
            }
        }
        .textinfos{
            width: calc(55% - 12px);
            padding-left: 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .desc{
                margin-bottom: 10px;
            }
            .acessar{
                margin-top: 10px;
                text-decoration: none;
                div{
                    transition: 0.2s;
                    width: 120px;
                    height: 40px;
                    background-color: black;
                    color: white;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 20px;
                    &:hover{
                    
                        width: 125px;
                        height: 44px;
                        line-height: 44px;
                        border-radius: 18px;
                        font-size: 18px;
                    
                }
                }
            }
        }
    }
 }

 @media screen and (max-width: 791px) {
    .project{
        float: left;
        width: 100%;
        overflow: hidden;
        margin: 5px 0 10px 0;
    }
    .bodyproject{
        margin-bottom: 10px;
        display: flex;
        flex-direction: column-reverse;
        .imagesArea{
            width: 100% !important; 
            object-fit: cover;
            display: flex;
            justify-content: center;
            .imageshowview{
                width: 95%;
                img{
                    width: 100% !important;
                    max-width: none !important;
                    height: auto !important;
                    max-height: 100%;
                    object-fit: cover;
                }
            }
            .imagesNavigator{
                .arrowButton{
                    width: 100px !important;
                    font-size: 16px;
                }
            }
        }
        .textinfos{
            width: 100% !important;
            margin-bottom: 10px;
            align-items: center;
            padding-left: 0 !important;
            .desc{
                margin-bottom: 5px !important;
            }
            .acessar{
                margin-top: 5px !important;
            }
        }
    }
 }