.title{
    width: 100%;
    text-align: center;
    font-size: 22px;
}
.project{
    margin: 10px 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    .left{
        width: 30%;
        .arealogo{
            margin-bottom: 25px;
            display: flex;
            justify-content: center;
            width: 100%;
            .logo{
                box-shadow: 0 8px 10px rgba(0,0,0,0.2);
                overflow: hidden;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }   
        .tech{
            margin-bottom: 25px;
            width: 100%;
            .subtitle{
                height: 40px;
                line-height: 40px;
                border-bottom: 1px solid rgba(204, 204, 204, 0.308);
                margin-bottom: 10px;
                text-align: center;
                font-size: 17px;
            }
            .technologies{
                width: 100%;
                .tecnology{
                    width: 100%;
                    height: 35px;
                    line-height: 35px;
                    margin-top: 3px;
                    padding-left: 15px;
                    font-size: 18px;
                    font-family: 'Hind Siliguri', sans-serif;
                    text-decoration: none;
                    list-style: none;
                    background-color: rgba(0, 0, 0, 0.034);
                    border-radius: 7px;
                }
            }
        }
        .source{
            .subtitle{
                line-height: 40px;
                border-bottom: 1px solid rgba(204, 204, 204, 0.308);
                margin-bottom: 10px;
                text-align: center;
                font-size: 17px;
            }
            .sources{
                width: 100%;
                    a{
                        width: 100%;
                        height: 35px;
                        line-height: 35px;
                        margin-top: 3px;
                        padding-left: 15px;
                        padding-right: 15px;
                        text-decoration: none;
                        list-style: none;
                        background-color: rgba(0, 0, 0, 0.034);
                        border-radius: 7px;
                        text-align: center;
                        display: block;
                        text-decoration: none;
                        font-size: 18px;
                        font-family: 'Hind Siliguri', sans-serif;
                        color: #000;
                    }
                }
            
        }  
    }
    .right{
        width: calc(70% - 30px);
        margin: 0 15px;
        .subtitle{
            width: 100%;
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid rgba(204, 204, 204, 0.308);
            margin-bottom: 10px;
            text-align: center;
            font-size: 17px;
        }
        .text{
            font-family: 'Hind Siliguri', sans-serif;
            margin-bottom: 20px;
        }
        .contents{
            width: 100%;
            .think{
                display: flex;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .project{
        margin: 5px 10px 0 10px;
        .left{
            width: 100%;
        }
        .right{
            width: 100%;
        }
    }
}