<div class="navbar">
  <div id="name">
    <a href="home">
      Luan A. Fernandes
    </a>
  </div>
  
  <div id="title">
    Portf&oacute;lio
  </div>

  <div id="topics">
    <div class="topic-buttom">
      <a href="home">
        Home
      </a>
    </div>
    <div class="topic-buttom">
      <a href="projects">
        Projects
      </a>
    </div>
   <!--  <div class="topic-buttom">
      <a href="contactme">
        Contact me
      </a>
    </div> -->
    <div class="topic-buttom">
      <a href="experiences">
        Experiences
      </a>
    </div>
  </div>
</div>
