@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hind+Siliguri:wght@300&family=Luxurious+Roman&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

body{
    margin: 0 auto;
}

.warningmessage{
    font-size: 9px;
    border-bottom: 0.5px solid rgba(66, 66, 66, 0.596);
}

.bodycomponent{
    margin: 80px 0 50px 0;
}

@media screen and (max-width: 768px) {
    .bodycomponent{
        margin: 100px 0 50px 0;
    }
}